body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../img/mainPage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2% 3% 0%;

}

.navbar h3 a {
    color: #FFF;
    font-size: 24px;
    margin: 0;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    padding: 10% 0%;
    color: white;
    font-size: 75px;
}

.aboutMe {
    background-color: #FFF;
    width: 100%;
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.person {
    display: flex;
    align-items: center;
    margin: 10px 0; /* Add some spacing between the person entries */
    width: 80%; /* Adjust width as needed */
    background-color: #f9f9f9; /* Optional: Add background color to person div */
    padding: 10px; /* Optional: Add padding to person div */
    border-radius: 5px; /* Optional: Add border radius to person div */
}

.person img {
    margin-right: 20px; /* Space between image and details */
    width: 150px; /* Ensure consistent image width */
    height: 150px; /* Ensure consistent image height */
    border-radius: 50%; /* Optional: Make images circular */
}

.details {
    display: flex;
    flex-direction: column;
}

.draping-styles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 5%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 5% 0%;
}

.draping-style {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.draping-style img {
    width: 60%;
    height: auto;
}

.draping-style h3 {
    margin-top: 10px;
    margin-bottom: 10%;
}


footer {
    text-align: center;
    padding: 5% 0;
    background-color: #333;
    color: white;
    position: relative;
    z-index: 1;
}